/* Style sheet visitors backend */
.mod_visitors_be_panel {
  background:var(--panel-bg);
  border-bottom:1px solid var(--content-border);
  flex-wrap:wrap;
  padding:8px 15px;
  text-align:right
}
.mod_visitors_be_panel,
.mod_visitors_be_subpanel {
  align-items:center;
  display:flex;
  gap:3px;
  justify-content:flex-end
}
.mod_visitors_be_panel:last-of-type {
  -moz-column-gap:10px;
  column-gap:10px;
  min-width:100px;
}
.mod_visitors_be_subpanel button,
.mod_visitors_be_subpanel input,
.mod_visitors_be_subpanel select {
  height:30px
}
.mod_visitors_be_subpanel {
  letter-spacing:-.31em
}
.mod_visitors_be_subpanel>* {
  margin:0;
}
.mod_visitors_be_subpanel * {
  letter-spacing:normal
}
.mod_visitors_be_subpanel strong {
  vertical-align:middle
}

.mod_visitors_be_reset {
  border: 0 none !important;
}

.mod_visitors_be_statistics {
  /* width:50%;
  float:left; */
}
.mod_visitors_be_initial {
  /* width:50%;
  float:left; */
}

.mod_visitors_be_average_nodata {
  color:#B9B9B9;
}

.mod_visitors_be_countings {
  /* width:50%;
  float:left; */
}

.mod_visitors_be_chart {
  /* width:50%;
  float:left; */
}
.mod_visitors_be_chart td {
	padding-left:0 !important;
	padding-right:0 !important;
}

.mod_visitors_be_browser {
  /* width:50%;
  float:left; */
}

.mod_visitors_be_browser_mini {
  /* width:50%;
  float:left; */
}

.mod_visitors_be_browser_other {
  margin-top:16px;
}
.mod_visitors_be_searchenginekeywords {
  /* width:50%;
  float:left; */
}

.mod_visitors_be_searchengines {
  /* width:50%;
  float:left; */
}

.mod_visitors_be_page_visit_hit_top {
  /* width:50%;
  float:left; */
}

.mod_visitors_be_page_visit_hit_days {
  /* width:50%;
  float:left; */
}

.mod_visitors_be_page_visit_hit_today {
  /* width:50%;
  float:left; */
}

.mod_visitors_be_page_visit_hit_yesterday {
  /* width:50%;
  float:left; */
}

.mod_visitors_be_news_visit_hit_top {
  width:calc(100% - 60px);
}

.mod_visitors_be_news_visit_hit_days {
  margin-top: 20px;
  width:calc(100% - 60px);
}

.mod_visitors_be_faq_visit_hit_top {
  width:calc(100% - 60px);
}

.mod_visitors_be_faq_visit_hit_days {
  margin-top: 20px;
  width:calc(100% - 60px);
}

.mod_visitors_be_events_visit_hit_top {
  width:calc(100% - 60px);
}

.mod_visitors_be_events_visit_hit_days {
  margin-top: 20px;
  width:calc(100% - 60px);
}

.mod_visitors_be_referrer {
  /* width:50%;
  float:left;	 */
}

.mod_visitors_be_screen_top_resolution {
  /* width:50%;
  float:left;	 */
}

.mod_visitors_be_screen_top_resolution_days {
  /* width:50%;
  float:left;		 */
}

.mod_visitors_be_version {
  
}

.mod_visitors_be_table { 
  padding: 0;
  width: 90%;
}

.mod_visitors_be_table .bct {
  background-color: transparent !important;
} 

.mod_visitors_be_folder 
{
	padding:1px 0;
	border-bottom:1px solid #e9e9e9;
	background-color:#f6f6f6;
}

.mod_visitors_be_table_version { 
  margin: 2px 0 !important;
  width: 100%;
  padding: 0;
}

.mod_visitors_be_table_version td {
  height:18px;
  padding-left:6px !important;
  padding-right:6px !important;
}

#ctrl_visitors_stat_admins {
	margin-top: 1px;
}

.w50h .tl_tip
{
    height: auto;
}

/* Limit Toggler */
.visitors_toggler {
	border-bottom: 0 none;
	padding: 0;
}

.visitors_toggler .limit_toggler {
  background-color: transparent !important;
}

.visitors_toggler .limit_toggler button {
  border: 0 none !important;
}

.visitors_toggler .limit_toggler button span {
	color: green;
	font-weight: bold;
}

.visitors_stat_yes {
  color: #589b0e;
}

.visitors_stat_no {
  color: #c33;
}