.git/
# Transifex
/.tx/
#for development in vbox
/vendor/
src/vendor/
src/composer.json
composer.lock
#IDE
.buildpath
.project
.settings/
.phpunit.result.cache
#Cache
src/cache/largebrowscap_*/largebrowscap.iniparts.*
src/cache/largebrowscap_*/largebrowscap.patterns.*
#phpunit
.phpunit.result.cache

todo.txt

#ECS
tools/ecs/vendor/
